/*ELEMENTALES*/
:root{
    --color0: #00000000;
    --color1: #1e2326;
    --color2: #1CB698;
    --color3: #f5f5f5;
    --color4: #252A2E;
    --color5: #000000;
    --color6: #ebebeb;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Unbounded';
}
body::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color4);
}
body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: var(--color2);
}
h1, h2, h3{
    user-select: none;
}
/*BARRA DE NAVEGACION*/
#navPrincipal{
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 4vw;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#navPrincipal a{
    cursor: pointer;
    text-decoration: none;
    color: var(--color2);
    font-size: 2.5vw;
    font-weight: 900;
    transition: all.10s;
}
#navPrincipal a:hover{
    transform: scale(1.1);
    transition: all.10s;
}
#navDeSecciones{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#navDeSecciones a{
    padding: 10px;
    color: var(--color3);
    font-size: 1vw;
    font-weight: 450;
    transition: all.30s;
}
#navDeSecciones a:hover{
    transform: scale(1.2);
    text-decoration: underline;
    transition: all.30s;
}
#navDeSecciones #toggle{
    cursor: pointer;
    width: 3vw;
    height: 1.5vw;
    padding: 2px;
    border-radius: 40px;
    background-color: var(--color2);
    display: flex;
    align-items: center;
}
#navDeSecciones #toggle #indicador{
    width: 45%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color5);
    background-color: var(--color3);
}
.active{
    justify-content: flex-end;
}
#idiomas{
    padding: 1vw;
    cursor: default;
}
#idiomas button{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--color5);
    border-radius: 100%;
    transition: all.10s;
}
#idiomas button:hover{
    transform: scale(1.2);
    transition: all.10s;
}
#idiomas button img{
    width: 100%;
    height: 100%;
}
/*ENCABEZADO*/
header{
    z-index: -2;
    width: 100%;
    height: 49vw;
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
header #opacarFondoHeader{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 49vw;
    opacity: 0.9;
    background-color: var(--color4);
}
header #tarjetaPresentacion{
    z-index: 2;
    margin: auto;
    width: 18%;
    height: 60%;
    border-radius: 40px;
    opacity: 2;
    color: var(--color3);
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    overflow: hidden;
}
header #tarjetaPresentacion > img{
    width: 12vw;
    outline: 8px solid var(--color2);
    border-radius: 100%;
    animation: perfil 2s 1s infinite alternate;
}
header #tarjetaPresentacion h1{
    cursor: default;
    font-size: 2vw;
    text-align: center;
}
header #tarjetaPresentacion cite{
    cursor: default;
    font-size: 1vw;
    text-align: center;
}
.redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.redes a{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    transition: all.10s;
}
.redes a:hover{
    transform: scale(1.2);
    transition: all.10s;
}
.redes a img{
    width: 100%;
    height: 100%;
}
/*SECCIONES*/
.seccion{
    padding: 5% 15%;
    height: 37vw;
    width: 100%;
    overflow-y: scroll;
}
.seccion h2{
    cursor: default;
    width: 100%;
    height: 20%;
    text-align: center;
    color: var(--color3);
    font-size: 2.5vw;
}
.seccion::-webkit-scrollbar{
    width: 7px;
    background-color: var(--color0);
}
.seccion::-webkit-scrollbar-track{
    margin: 100px;
}
.seccion::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: var(--color2);
}
/*SOBRE MÍ*/
#sobreMi{
    color: var(--color3);
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#sobreMi p{
    height: 20%;
    font-size: 1vw;
    font-weight: 400;
    display: block;
}
#sobreMi p img{
    width: 2vw;
    height: 2vw;
    padding: 5px;
    border-radius: 100%;
    background-color: var(--color2);
    animation: saludo 1s 1s infinite forwards alternate;
}

#sobreMi #datosPersonales{
    width: 50%;
    height: 60%;
    font-size: 1vw;
}
#sobreMi #datosPersonales h3{
    width: 100%;
    height: 20%;
    text-align: center;
}
#sobreMi #datosPersonales ul{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
#sobreMi #datosPersonales ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#sobreMi #intereses{
    width: 50%;
    height: 60%;
    font-size: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
#sobreMi #intereses h3{
    width: 100%;
    text-align: center;
}
#sobreMi #intereses div{
    display: inline-block;
    cursor: default;
    width: 6vw;
    height: 6vw;
    padding: 5px;
    margin: 0.5vw 1.5vw;
    border-radius: 10px;
    background-color: var(--color4);
    text-align: center;
    transition: all.20s;
}
#sobreMi #intereses div:hover{
    background-color: var(--color2);
    transition: all.20s;
}
#sobreMi #intereses div img{
    width: 60%;
    height: 60%;
}
p i, body strong{
    cursor: default;
    color: var(--color2);
}
ul{
    list-style: none;
}
/*PROYECTOS*/
#proyectos{
    background-color: var(--color4); 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#proyectos .proyectos{
    z-index: 3;
    cursor: pointer;
    width: 11vw;
    height: 11vw;
    font-size: 1.5vw;
    color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: all.20s;
}
#proyectos .proyectos:hover{
    z-index: 4;
    opacity: 1;
    outline: 1px solid var(--color2);
    color: var(--color2);
    transform: scale(1.5);
    transition: all.20s;
}
#proyectos .proyectos:active{
    border-radius: 10px;
}
#proyectos #proyecto1{
    background-image: url('img/p1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto2{
    background-image: url('img/p2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto3{
    background-image: url('img/p3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto4{
    background-image: url('img/p4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto5{
    background-image: url('img/p5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto6{
    background-image: url('img/p6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/*HABILIDADES*/
#habilidades{
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
#habilidades #profesionales, #habilidades #blandas{
    width: 47%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
    transition: all.30s;
}
#profesionales:hover, #blandas:hover{
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 30px var(--color2);
    transform: scale(1.1);
    transition: all.30s;
}
#habilidades #blandas{
    margin-left: 3%;
}
#habilidades #profesionales{
    margin-right: 3%;
}
.tecnologias, .blandas{
    width: 100%;
    height: 3vw;
    color: var(--color2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
#habilidades .tecnologias img{
    width: 8%;
    height: 100%;
    transition: all.30s;
}
#habilidades .tecnologias img:hover{
    transform: scale(1.2);
    transition: all.30s;
}
.meter{
    height: 10px;
    color: var(--color0);
    border-radius: 30px;
    background-color: var(--color4);
}
.tecnologias .meter{
    width: 82%;
}
.blandas .meter{
    width: 40%;
}
#habilidades .meter div{
    height: 100%;
    color: var(--color0);
    border-radius: 30px;
    background-color: var(--color2);
}
#habilidades .meter #meterJS{
    width: 50%;
}
#habilidades .meter #meterHTML{
    width: 75%;
}
#habilidades .meter #meterCSS{
    width: 80%;
}
#habilidades .meter #meterJSON{
    width: 60%;
}
#habilidades .meter #meterTS{
    width: 20%;
}
#habilidades .meter #meterBOOTSTRAP{
    width: 50%;
}
#habilidades .meter #meterGIT{
    width: 40%;
}
#habilidades .tecnologias p{
    cursor: default;
    font-size: 1vw;
    width: 10%;
}
#habilidades .blandas p{
    cursor: default;
    font-size: 1vw;
    width: 25%;
}
#habilidades .meter #meter1{
    width: 80%;
}
#habilidades .meter #meter2{
    width: 95%;
}
#habilidades .meter #meter3{
    width: 90%;
}
#habilidades .meter #meter4{
    width: 75%;
}
#habilidades .meter #meter5{
    width: 85%;
}
#habilidades .meter #meter6{
    width: 90%;
}
#habilidades .meter #meter7{
    width: 100%;
}
/*EDUCACIÓN*/
#educacion{
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#educacion .tarjetaEducacion h3{
    color: var(--color2);
    font-size: 1vw;
}
#educacion .tarjetaEducacion{
    cursor: default;
    width: 10vw;
    height: 18vw;
    padding: 5px;
    font-size: 0.7vw;
    text-align: center;
    color: var(--color6);
    box-shadow: 0 0 30px var(--color5);
    opacity: 0.7;
    transition: all.30s;
}
#educacion .tarjetaEducacion:hover{
    transform: scale(1.2);
    opacity: 1;
    box-shadow: 0 0 30px var(--color2);
    transition: all.30s;
}
#educacion #secundario{
    background-image: url('img/gralRico.jpg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
#educacion #instituto{
    background-image: url('img/superArte.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
#educacion #universidad{
    background-image: url('img/unq.jpg');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}
#educacion #cursos ul{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
#educacion #cursos ul li a{
    text-decoration: none;
    color: var(--color6);
    transition: all.30s;
}
#educacion #cursos ul li a:hover{
    text-decoration: underline dashed;
    color: var(--color2);
    transition: all.30s;
}
#educacion #idiomas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}
#educacion #idiomas p{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    border-radius: 100%;
    border: 1px solid var(--color2);
    transition: all.30s;
}
#educacion #idiomas p:hover{
    transform: scale(0.9);
    border-radius: 30%;
    transition: all.30s;
}
#en:hover::after{
    color: var(--color2);
    content: 'Basic';
}
#port:hover::after{
    color: var(--color2);
    content: 'Basic';
}
#es:hover::after{
    color: var(--color2);
    content: 'Native';
}
/*CONTACTO*/
#contacto{
    background-color: var(--color4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    background-image: url('img/contact.png');
    background-size: cover;
    background-repeat: none;
}
#contacto .redes{
    width: 10%;
    height: 80%;
    flex-direction: column;
}
#contacto form{
    width: 60%;
    height: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#contacto form input, #contacto form textarea{
    width: 70%;
    height: 12%;
    padding: 0 10px;
    border-radius: 10px;
    caret-color: var(--color2);
    border: none;
    outline: none;
    color: var(--color3);
    background-color: var(--color4);
    transition: all.30s;
}
#contacto form input:focus, #contacto form textarea:focus{
    box-shadow: 0 0 20px var(--color2);
    transition: all.30s;
}
#contacto form textarea{
    height: 30%;
    padding: 10px;
    resize: none;
}
#contacto form #botonesForm{
    width: 70%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
}
#contacto form #botonesForm button{
    cursor: pointer;
    width: 10vw;
    border: none;
    font-size: 1.1vw;
    border-radius: 10px;
    color: var(--color3);
    background-color: var(--color4);
    transition: all.30s;
}
#contacto form #botonesForm button:hover{
    transform: scale(1.1);
    color: var(--color2);
    transition: all.30s;
}
#contacto iframe{
    width: 30%;
    height: 80%;
    border-radius: 30px;
    border: none;
    outline: none;
    opacity: 0.5;
    transition: all.30s;
}
#contacto iframe:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all.30s;
}
/*COLORS MODES*/
.light1{
    background-color: var(--color3);
}
.light2{
    background-color: var(--color6);
}
.dark1{
    background-color: var(--color1);
}
.dark2{
    background-color: var(--color4);
}