/*ELEMENTALES*/
:root{
    --color0: #00000000;
    --color1: #1e2326;
    --color2: #1CB698;
    --color3: #f5f5f5;
    --color4: #252A2E;
    --color5: #000000;
    --color6: #ebebeb;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Unbounded';
}
body::-webkit-scrollbar{
    width: 8px;
    background-color: var(--color4);
}
body::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: var(--color2);
}
.white{
    background-color: var(--color3);
}
/*BARRA DE NAVEGACION*/
#navPrincipal{
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 4vw;
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#navPrincipal a{
    cursor: pointer;
    text-decoration: none;
    color: var(--color2);
    font-size: 2.5vw;
    font-weight: 900;
    transition: all.10s;
}
#navPrincipal a:hover{
    transform: scale(1.1);
    transition: all.10s;
}
#navDeSecciones{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#navDeSecciones a{
    padding: 10px;
    color: var(--color3);
    font-size: 1vw;
    font-weight: 450;
    transition: all.30s;
}
#navDeSecciones a:hover{
    transform: scale(1.2);
    text-decoration: underline;
    transition: all.30s;
}
#navDeSecciones #toggle{
    cursor: pointer;
    width: 3vw;
    height: 1.5vw;
    padding: 2px;
    border-radius: 40px;
    background-color: var(--color2);
    display: flex;
    align-items: center;
}
#navDeSecciones #toggle #indicador{
    width: 45%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--color5);
    background-color: var(--color3);
}
.active{
    justify-content: flex-end;
}
#idiomas{
    padding: 1vw;
    cursor: default;
}
#idiomas button{
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--color5);
    border-radius: 100%;
    transition: all.10s;
}
#idiomas button:hover{
    transform: scale(1.2);
    transition: all.10s;
}
#idiomas button img{
    width: 100%;
    height: 100%;
}
/*ENCABEZADO*/
header{
    z-index: -2;
    width: 100%;
    height: 49vw;
    background-image: url('img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
header #opacarFondoHeader{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 49vw;
    opacity: 0.9;
    background-color: var(--color4);
}
header #tarjetaPresentacion{
    z-index: 2;
    margin: auto;
    width: 18%;
    height: 60%;
    border-radius: 40px;
    opacity: 2;
    color: var(--color3);
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    overflow: hidden;
}
header #tarjetaPresentacion > img{
    width: 12vw;
    outline: 8px solid var(--color2);
    border-radius: 100%;
    animation: perfil 2s 1s infinite alternate;
}
header #tarjetaPresentacion h1{
    cursor: default;
    font-size: 2vw;
    text-align: center;
}
header #tarjetaPresentacion cite{
    cursor: default;
    font-size: 1vw;
    text-align: center;
}
.redes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.redes a{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    transition: all.10s;
}
.redes a:hover{
    transform: scale(1.2);
    transition: all.10s;
}
.redes a img{
    width: 100%;
    height: 100%;
}
/*SECCIONES*/
.seccion{
    padding: 5% 15%;
    height: 37vw;
    width: 100%;
}
.seccion h2{
    cursor: default;
    width: 100%;
    height: 20%;
    text-align: center;
    color: var(--color3);
    font-size: 2.5vw;
}
/*SOBRE MÍ*/
#sobreMi{
    color: var(--color3);
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
#sobreMi p{
    height: 20%;
    font-size: 1vw;
    font-weight: 400;
    display: block;
}
#sobreMi p img{
    width: 2vw;
    height: 2vw;
    padding: 5px;
    border-radius: 100%;
    background-color: var(--color2);
    animation: saludo 1s 1s infinite forwards alternate;
}

#sobreMi #datosPersonales{
    width: 50%;
    height: 60%;
    font-size: 1vw;
}
#sobreMi #datosPersonales h3{
    width: 100%;
    height: 20%;
    text-align: center;
}
#sobreMi #datosPersonales ul{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}
#sobreMi #datosPersonales ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#sobreMi #intereses{
    width: 50%;
    height: 60%;
    font-size: 1vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
#sobreMi #intereses h3{
    width: 100%;
    text-align: center;
}
#sobreMi #intereses div{
    display: inline-block;
    cursor: default;
    width: 6vw;
    height: 6vw;
    padding: 5px;
    margin: 0.5vw 1.5vw;
    border-radius: 10px;
    background-color: var(--color4);
    text-align: center;
    transition: all.20s;
}
#sobreMi #intereses div:hover{
    background-color: var(--color2);
    transition: all.20s;
}
#sobreMi #intereses div img{
    width: 60%;
    height: 60%;
}
p i, body strong{
    cursor: default;
    color: var(--color2);
}
ul{
    list-style: none;
}
/*PROYECTOS*/
#proyectos{
    background-color: var(--color4); 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#proyectos .proyectos{
    z-index: 3;
    cursor: pointer;
    width: 11vw;
    height: 11vw;
    color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transition: all.20s;
}
#proyectos .proyectos:hover{
    z-index: 4;
    opacity: 1;
    outline: 1px solid var(--color2);
    color: var(--color2);
    transform: scale(1.5);
    transition: all.20s;
}
#proyectos .proyectos:active{
    border-radius: 10px;
}
#proyectos #proyecto1{
    background-image: url('img/p1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto2{
    background-image: url('img/p2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto3{
    background-image: url('img/p3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto4{
    background-image: url('img/p4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto5{
    background-image: url('img/p5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#proyectos #proyecto6{
    background-image: url('img/p6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
/*HABILIDADES*/
#habilidades{
    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
#habilidades #profesionales, #habilidades #blandas{
    width: 44%;
    height: 80%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
#habilidades #blandas{
    margin-left: 3%;
}
.tecnologias{
    width: 100%;
    height: 3vw;
    color: var(--color2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/*
#habilidades #js{
    animation:  3s alternate infinite;
}
#habilidades #html{
    animation:  5s alternate-reverse infinite;
}
#habilidades #css{
    animation:  3s alternate infinite;
}
#habilidades #json{
    animation:  5s alternate infinite;
}
#habilidades #ts{
    animation:  3s alternate-reverse infinite;
}
#habilidades #bootstrap{
    animation:  7s alternate-reverse infinite;
}
#habilidades #git{
    animation:  7s alternate infinite;
}
*/
#habilidades .tecnologias img{
    width: 8%;
    height: 100%;
}
#habilidades .meter{
    width: 82%;
    height: 10px;
    color: var(--color0);
    border-radius: 30px;
    background-color: var(--color4);
}
#habilidades .meter div{
    width: 82%;
    height: 100%;
    color: var(--color0);
    border-radius: 30px;
    background-color: var(--color2);
}
#habilidades .meter #meterJS{
    width: 50%;
}
#habilidades .meter #meterHTML{
    width: 75%;
}
#habilidades .meter #meterCSS{
    width: 80%;
}
#habilidades .meter #meterJSON{
    width: 60%;
}
#habilidades .meter #meterTS{
    width: 20%;
}
#habilidades .meter #meterBOOTSTRAP{
    width: 50%;
}
#habilidades .meter #meterGIT{
    width: 40%;
}
#habilidades .tecnologias p{
    cursor: default;
    width: 10%;
}
/*EDUCACIÓN*/
#educacion{
    background-color: var(--color4);
}
/*EXPERIENCIA*/
#experiencia{
    background-color: var(--color1);
}
/*CONTACTO*/
#contacto{
    background-color: var(--color4);
}